<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Student Form</title>
	<!-- Nhúng tệp CSS của Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1>Student Form</h1>
	<form th:object="${form}" method="post">
		<div class="mb-3">
			<label for="email" class="form-label">Email:</label>
			<input th:field="*{email}" type="email" class="form-control" id="email" name="email" required>
		</div>
		<div class="mb-3">
			<label for="fullname" class="form-label">Full Name:</label>
			<input th:field="*{fullname}" type="text" class="form-control" id="fullname" name="fullname" required>
		</div>

		<div class="mb-3">
			<label for="marks" class="form-label">Marks:</label>
			<input th:field="*{marks}" type="number" class="form-control" id="marks" name="marks" required>
		</div>
		<div class="mb-3">
			<label class="form-label">Gender:</label>
			<div class="form-check">
				<input th:field="*{gender}" class="form-check-input" type="radio" id="male" name="gender" value="true" required>
				<label class="form-check-label" for="male">Male</label>
			</div>
			<div class="form-check">
				<input th:field="*{gender}" class="form-check-input" type="radio" id="female" name="gender" value="false" required>
				<label class="form-check-label" for="female">Female</label>
			</div>
		</div>

		<div class="mb-3">
			<label for="country" class="form-label">Country:</label>
			<select th:field="*{country}" class="form-select" id="country" name="country" required>
				<option value="">--Select Country--</option>
				<option value="USA">USA</option>
				<option value="Canada">Canada</option>
				<option value="UK">UK</option>
				<option value="Australia">Australia</option>
				<option value="India">India</option>
				<option value="VN">Việt Nam</option>
			</select>
		</div>

		<button type="submit" th:formaction="@{/student/create}" class="btn btn-primary">Create</button>
		<button type="submit" th:formaction="@{|/student/update/${key}|}" class="btn btn-primary">Update</button>
		<button type="submit" th:formaction="@{|/student/delete/${key}|}" class="btn btn-primary">Delete</button>
		<button type="submit" th:formaction="@{/student/index}" class="btn btn-primary">Reset</button>
	</form>
	
	<h2>Student Information</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Email</th>
				<th>Full Name</th>
				<th>Marks</th>
				<th>Gender</th>
				<th>Country</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student : ${students}" th:object="${student.value}">
				<td>[[*{email}]]</td>
				<td>[[*{fullname}]]</td>
				<td>[[*{marks}]]</td>
				<td>[[*{gender ? 'Nam' : 'Nư'}]]</td>
				<td>[[*{country}]]</td> 
				<td>
					<a th:href="@{|/student/edit/${student.key}|}">Edit</a>
					<a th:href="@{|/student/delete/${student.key}|}">Delete</a>
				</td> 
			</tr>
		</tbody>
	</table>
	
	</div>

	<!-- Nhúng tệp JavaScript của Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
